@inherits LayoutComponentBase

<div class="page">
    <div class="col">
        <div class="container-fluid">
            <NavBar></NavBar>
        </div>
        <main>
            <article class="content px-4">
                @Body
                <img alt="background image" class="centered-image" src="images/background-image.png" style="width: 600px; height: 600px"/>
            </article>
        </main>
    </div>
</div>