.soldier-element{
    border-style: solid;
    width: 20%;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}
.soldier-element span{
    padding-left: 20px;
}
.soldier-element p {
    padding-left: 20px;
}
.stat-container span{
    color: black;
}
.badge{
    background-color: #0a58ca;

}
#soldier-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    font-family: "Times New Roman";
}
.info-panel {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 650px; 
    background-color: rgba(255, 255, 255, 1); 
    border: 2px solid #333; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 99999;
}
#class-selection-screen{
    z-index: 9999;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
}
#selected-skills button {
    margin-left: 5px;
}
.exit-button {
    position: fixed;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    width: 40px; /* Fixed width for the square button */
    height: 40px; /* Fixed height for the square button */
    background-color: #3498db; /* Button background color */
    color: #fff; /* Text color */
    border: none;
    border-radius: 5px; /* Adjust border-radius for rounded corners if desired */
    cursor: pointer;
    /* Add any additional styling as needed */
}

/* Add hover effect if desired */
.exit-button:hover {
    background-color: #2980b9; /* Change background color on hover */
}