@page "/RosterManagement"
@using PJ_Webapp.Data
@using PJ_Webapp.Models
@inject DBServices db
<h3>Roster Management</h3>

@code {
    //TODO grab playerId from session
    public int playerId = 1;


}