@page "/SoldierCreation"
<h3>Soldier Creation</h3>
<p>Soldier Name:</p> <input name="name" type="text">

<p>Player ID:</p> <input type="text" name="pId">

<button></button>

@code {
    //TODO Grab player ID from login session

    private void CreateSoldier()
    {
        
    }
}